<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="accounts" type="ClosingReport.AccountsConfiguration, ClosingReport" />
    <section name="resources" type="ClosingReport.ResourcesConfiguration, ClosingReport" />
  </configSections>
  <system.diagnostics>
    <sources>
      <source name="ClosingReport" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console" type="System.Diagnostics.ConsoleTraceListener">
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error"/>
          </add>
          <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\myListener.log">
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error"/>
          </add>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="sourceSwitch" value="Error"/>
    </switches>
    <sharedListeners>
    </sharedListeners>
  </system.diagnostics>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <accounts>
    <account name="Some Vendor" codes="1" />
    <account name="Another Client" codes="2" />
  </accounts>
  <resources>
    <resource path="\path\to\Inbound.csv" direction="inbound" received="true" />
    <resource path="\path\to\Outbound.csv" direction="outbound" received="true" />
    <resource path="\path\to\Abandoned.csv" direction="inbound" received="false" />
  </resources>
  <appSettings>
    <!-- No account code should match a sentinel value, used where no account code exists -->
    <add key="Sentinel" value="-1"/>
    <!-- Determine if a headers should be skipped in csv files by default, choose either 'true' or 'false' (case sensitive) -->
    <add key="SkipHeader" value="true"/>
    <!-- Increment in minutes for separating times, used when generating the line chart. Must a multiple of 5 (miniumum of 5) -->
    <add key="TimeIncrement" value="15"/>
    <!-- Operational hours. Only communications between these times will be checked. -->
    <add key="OpeningTime" value="5:00 AM"/>
    <add key="ClosingTime" value="9:00 PM"/>
  </appSettings>
</configuration>