<html>
  <head>
  </head>
  <body>

    <center>
      <table id="top-layout-container" cellspacing="20">
        <tbody>
          <tr>
            <td>
              <center>
                <table id="general-stats" style="border: 1px solid black">
                  <tr>
                    <td style="border-bottom: 1px solid grey">
                      Inbound Calls:
                    </td>
                    <td style="border-bottom: 1px solid grey">
                      @Model.Totals.Inbound
                    </td>
                  </tr>
                  <tr>
                    <td style="border-bottom: 1px solid grey">
                      Outbound Calls:
                    </td>
                    <td style="border-bottom: 1px solid grey">
                      @Model.Totals.Outbound
                    </td>
                  </tr>
                  <tr>
                    <td style="border-bottom: 1px solid grey">
                      Total Calls:
                    </td>
                    <td style="border-bottom: 1px solid grey">
                      @Model.Totals.TotalReceived
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Abandon Rate:
                    </td>
                    <td>
                      @Model.Totals.AbandonRate
                    </td>
                  </tr>
                </table>
              </center>
            </td>
            <td>
              <center>
                <img id="barChart" src="barChart.png"/>
              </center>
            </td>
          </tr>
        </tbody>
      </table>
    </center>

	<hr />

    <center>
      <table id="accounts-layout-container" cellpadding="20">
        <thead></thead>
        <tbody>
          <tr>
  
        @{
          var index = 0;
          foreach (var stats in Model.Statistics)
          {
            if (index % Model.RowMax == 0)
            {
              @:</tr><tr>
            }
            index++;
  
            <td>
              <center>
                <table style="border: 1px solid black;">
                  <thead>
                    <tr>
                      <th style="border-bottom: 1px solid grey;">
                        @stats.AccountName
                      </th>
                      <th style="border-bottom: 1px solid grey;">
                        Count
                      </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      <td>
                        <a>Inbound Calls:</a>
                      </td>
                      <td>
                        @stats.TotalInbound
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a>Outbound Calls:</a>
                      </td>
                      <td>
                        @stats.TotalOutbound
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a>Abandoned Calls:</a>
                      </td>
                      <td>
                        @stats.TotalAbandoned
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a>Average Abandoned Time:</a>
                      </td>
                      <td>
                        @stats.AbandonedAverage
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a>Average Answer Time:</a>
                      </td>
                      <td>
                        @stats.InboundAverage
                      </td>
                    </tr>
                  </tbody>
                </table>
              </center>
            </td>
          }
        }
  
          </tr>
        </tbody>
      </table>
    </center>

    <hr />

    <center>
      <img id="lineChart" src="lineChart.png" />
    </center>

  </body>
</html>